.container {
  color: #f0f0f0;
}

.treemap-chart {
  margin-top: 30px;
}

.treemap-chart text {
  fill: #f0f0f0;
  stroke: #f0f0f0;
  line-break: auto;
}

.tooltip-list {
  list-style: none;
  width: 200px;
  padding: 15px 12px;
  line-break: auto;
  background-color: rgba(47, 47, 47, 0.728);
}
